{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="text-center home-page-background">
        <h1 class="display-5 logo-font text-black">Cozy Garden</h1>
        <p class="lead text-black">Welcome to Cozy Garden!</p>
        <hr>
        <p class="text-black">We offer a wide range of seeds for beautiful flowers to
            make your garden a paradise.
        </p>
        <p class="text-black">Explore our collections and transform your outdoor space into a relaxing and cozy
            oasis.
        </p>
        <a href="{% url 'products' %}" class="btn btn-primary btn-lg mt-4 shop-button">Take Me There!</a>
    </div>
</div>
{% endblock %}