{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h-100 text-center mt-5">
    <h1 class="display-4 logo-font">Cozy Garden</h1>
    <p class="lead">Welcome to Cozy Garden! We offer a wide range of seeds for beautiful flowers to make your garden
        a
        paradise.</p>
    <p>Explore our collections and transform your outdoor space into a relaxing and cozy oasis.</p>
    <a href="#" class="btn btn-primary btn-lg mt-4">Take Me There!</a>
</div>
{% endblock %}