{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="overlay-white"></div>
<div class="container mb-4 min-vh-100">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mt-4 mb-4 text-center text-black">My Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-black text-center">Your Saved Delivery Details</p>
            <form class="mt-2" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary mt-4 mb-3 shop-button">Update Details</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-black text-center">Order History</p>
            {{ orders }}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}