{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="overlay-white"></div>
<div class="container mb-4 min-vh-100">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mt-4 mb-4 text-center text-black">My Profile</h2>
            <hr>
        </div>
    </div>
    {% if favoritelist.products.all %}
    {% for product in favoritelist.products.all %}
    <div class="row">
        <div class="col-md-4 mb-1">
            <a href="{% url 'product_detail' product.id %}">
                {% if product.image %}
                <img class="w-100" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                {% endif %}
            </a>
        </div>
        <div class="col-md-5 text-left">
            <p class="my-0 text-black"><strong>{{ product.name }}</strong></p>
            <p class="my-0 text-black"><strong>Instructions:</strong></p>
            <p class="my-0 text-black">{{ product.instructions }}</p>
        </div>
        <div class="col-md-3">
            <p class="my-0 text-black">SKU: <strong>{{ product.sku|upper }}</strong></p>
            <p class="my-0 text-black">Price: <strong>€{{ product.price }}</strong></p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="logo-font font-weight-bold text-black">You have no favorites yet!</p>
    <hr>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <p class="logo-font font-weight-bold text-black">Your Saved Delivery Details</p>
            <form class="mt-2" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary mt-4 mb-3 shop-button">Update Details</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="logo-font font-weight-bold text-black">Order History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm custom-horizontal-border-table">
                    <thead class="text-black">
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td class="text-black">{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled text-black">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.product.name }} x{{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="text-black">{{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}