{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="overlay-white"></div>
<div class="container mb-4 min-vh-100">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font mt-4 mb-4 text-black">Thank you for ordering!</h2>
            <hr>
            <p class="text-black"> Your order information is below.</p>
            <p class="text-black">A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
    <div class="col-md-6 offset-md-3">
        <div class="card shadow">
            <div class="card-body text-black">
                <h5 class="font-weight-bold mb-2 text-center">Order Details</h5>
                <hr>
                <div>
                    <p class="mb-0 text-black"><strong>Order Number</strong></p>
                    <p class="mb-0">{{ order.order_number }}</p>
                    <p class="mb-0 text-black"><strong>Order Date</strong> {{ order.date }}</p>
                    <hr>
                    <h6 class="font-weight-bold mb-2 text-center">Products</h6>
                    <hr>
                    {% for item in order.lineitems.all %}
                    <p class="small mb-0 text-black">
                        <strong>{{ item.product.name }}</strong>
                    </p>
                    <p class="small mb-0 text-black">
                        Qty: {{ item.quantity }} @ €{{ item.product.price }} each
                    </p>
                    {% endfor %}
                    <hr>
                    <h6 class="font-weight-bold mb-2 text-center">Delivering To</h6>
                    <hr>
                    <p class="mb-0 text-black"><strong>Full Name:</strong> {{ order.full_name }}</p>
                    <p class="mb-0 text-black"><strong>Address 1:</strong> {{ order.street_address1 }}</p>
                    {% if order.street_address2 %}
                    <p class="mb-0 text-black"><strong>Address 2:</strong> {{ order.street_address2 }}</p>
                    {% endif %}
                    {% if order.county %}
                    <p class="mb-0 text-black"><strong>County:</strong> {{ order.county }}</p>
                    {% endif %}
                    <p class="mb-0 text-black"><strong>Town or City:</strong> {{ order.town_or_city }}</p>
                    {% if order.postcode %}
                    <p class="mb-0 text-black"><strong>Postcode:</strong> {{ order.postcode }}</p>
                    {% endif %}
                    <p class="mb-0 text-black"><strong>Country:</strong> {{ order.country }}</p>
                    <p class="mb-0 text-black"><strong>Phone:</strong> {{ order.phone_number }}</p>
                    <hr>
                    <h6 class="font-weight-bold mb-2 text-center">Billing</h6>
                    <hr>
                    <p class="mb-0 text-black"><strong>Order Total:</strong> {{ order.order_total }}</p>
                    <p class="mb-0 text-black"><strong>Delivery Cost:</strong> {{ order.delivery_cost }}</p>
                    <p class="mb-0 text-black"><strong>Grand Total:</strong> {{ order.grand_total }}</p>
                    {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-primary mt-4 mb-3 shop-button">
                        <span>
                            <i class="fa-solid fa-backward"></i>
                        </span>
                        <span>Back to Profile</span>
                    </a>
                    {% else %}
                    <a href="{% url 'products' %}?category=new" class="btn btn-primary mt-4 mb-3 shop-button">
                        <span>
                            <i class="fa-solid fa-gift"></i>
                        </span>
                        <span>New items!</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}