html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.png') no-repeat center center fixed;
    background-size: cover;
    min-height: vh100;
    color: #777;
    font-family: 'Roboto',
        sans-serif;
}

.logo-font {
    text-transform: uppercase;
}

.shop-button,
.keep-shop-button:hover {
    background: #198754;
    border-color: #198754;
    color: #fafafa;
    text-transform: uppercase;
}

.keep-shop-button {
    background: #EBF20C;
    border-color: #EBF20C;
    color: #198754;
    text-transform: uppercase;
}

.shop-button:hover,
.shop-button:active,
.shop-button:focus {
    background: #fafafa;
    border-color: #fafafa;
    color: #198754;
}

.bg-off-white {
    background-color: #fafafa;
}

.bg-green {
    background-color: #198754;
}

.text-black {
    color: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #198754;
    z-index: -1;
    opacity: 0.5;
}

.overlay-white {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fafafa;
    z-index: -1;
    opacity: 0.85;
}

.custom-card-img {
    height: 250px;
    object-fit: cover;
}

.detail-image-size {
    max-height: 500px;
    overflow: hidden;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.border-radius {
    border-radius: 5px;
}

.margin-bottom-product {
    margin-bottom: 200px;
}

.badge {
    font-size: 100%;
}

.badge-white {
    background-color: #fafafa;
}

.badge-white:hover {
    background-color: #198754;
    color: #fafafa !important;
}

.btn-red {
    background: red;
    color: #fafafa;
}

.btn-green {
    background: #198754;
    color: #fafafa;
}

.btn-green:hover {
    background: darkgreen;
    color: #fafafa;
}

.btn-red:hover {
    background: darkred;
    color: #fafafa;
}

.btt-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-color: #000 !important;
    background-color: #fafafa;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.btt-link {
    cursor: pointer;
    color: #198754;
    font-size: 2rem;
}

.btt-button:hover,
.btt-link:hover {
    background-color: #198754;
    color: #fafafa;
    border-radius: 5px;
}

/* Index.html */
.home-page-background {
    background-color: #EBF20C;
    padding: 20px;
    border-radius: 10px;
}

/* Toasts */
.message-container {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Media queries */
@media (max-width: 770px) {
    .margin-top-bottom-media-queries {
        margin-top: 10px;
        margin-bottom: 100px;
    }

    .mt-media-queries {
        margin-top: 15px;
    }
}

@media (max-width: 620px) {
    .free-delivery {
        font-size: 1rem;
    }

    .navbar-media-sizes {
        font-size: 0.8rem;
    }
}

@media (max-width: 580px) {
    .max-width-90vw {
        max-width: 90vw;
        margin: 0 auto;
    }

    .margin-top-media-queries {
        margin-top: 20px;
    }
}

@media (max-width: 350px) {
    .free-delivery {
        font-size: 0.8rem;
    }

    .navbar-media-sizes {
        font-size: 0.6rem;
        padding: 4px;
    }
}