html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.png') no-repeat center center fixed;
    background-size: cover;
    min-height: vh100;
    color: #777;
    font-family: 'Roboto',
        sans-serif;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.shop-button,
.keep-shop-button:hover {
    background: #198754;
    border-color: #198754;
    color: #fafafa;
    text-transform: uppercase;
}

.keep-shop-button {
    background: #EBF20C;
    border-color: #EBF20C;
    color: #198754;
    text-transform: uppercase;
}

.shop-button:hover,
.shop-button:active,
.shop-button:focus {
    background: #EBF20C;
    border-color: #EBF20C;
    color: #198754;
}

.bg-off-white {
    background-color: #fafafa;
}

.bg-green {
    background-color: #198754;
}

.text-black {
    color: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #198754;
    z-index: -1;
    opacity: 0.5;
}

.overlay-white {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fafafa;
    z-index: -1;
    opacity: 0.85;
}

.custom-card-img {
    height: 250px;
    object-fit: cover;
}

.detail-image-size {
    overflow: hidden;
    background-color: #fafafa;
    padding-top: 15px;
    padding-bottom: 15px;
}

.border-radius {
    border-radius: 5px;
}

.margin-bottom-product {
    margin-bottom: 200px;
}

.badge {
    font-size: 100%;
}

.badge-white {
    background-color: #fafafa;
}

.badge-white:hover {
    background-color: #198754;
    color: #fafafa !important;
}

.btn-red {
    background: red;
    color: #fafafa;
}

.btn-green {
    background: #198754;
    color: #fafafa;
}

.btn-green:hover {
    background: darkgreen;
    color: #fafafa;
}

.btn-red:hover {
    background: darkred;
    color: #fafafa;
}

.btt-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-color: #000 !important;
    background-color: #fafafa;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.btt-link {
    cursor: pointer;
    color: #198754;
    font-size: 2rem;
}

.btt-button:hover,
.btt-link:hover {
    background-color: #198754;
    color: #fafafa;
    border-radius: 5px;
}

/* Index.html */
.home-page-background {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 10px;
}

/* Toasts */
.message-container {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bg-warning {
    background-color: #EBF20C !important;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes for arrow colors */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
}

.hr-color {
    border-color: #000 !important;
}

/* Media queries */
@media (max-width: 770px) {
    .margin-top-bottom-media-queries {
        margin-top: 10px;
        margin-bottom: 100px;
    }

    .mt-media-queries {
        margin-top: 15px;
    }
}

@media (max-width: 620px) {
    .free-delivery {
        font-size: 1rem;
    }

    .navbar-media-sizes {
        font-size: 0.8rem;
    }
}

@media (max-width: 580px) {
    .h2-font-queries {
        font-size: 1.5rem !important;
    }

    .max-width-90vw {
        max-width: 90vw;
        margin: 0 auto;
    }

    .margin-top-media-queries {
        margin-top: 20px;
    }

    .shop-button,
    .keep-shop-button,
    .font-size-queries {
        font-size: 0.8rem;
    }

    .w-50 {
        width: 80% !important;
    }
}

@media (max-width: 350px) {
    .free-delivery {
        font-size: 0.8rem;
    }

    .navbar-media-sizes {
        font-size: 0.5rem;
        padding: 4px;
    }

    .shop-button,
    .keep-shop-button {
        font-size: 0.7rem;
    }
}