<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=color&direction=asc" class="dropdown-item ">By Color</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="flowerseeds-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="flowerseeds-link">
                <a href="{% url 'products' %}?category=shrubs" class="dropdown-item">Shrubs</a>
                <a href="{% url 'products' %}?category=container_plants" class="dropdown-item">Container Plants</a>
                <a href="{% url 'products' %}?category=herbaceous_perennials" class="dropdown-item">Herbaceous
                    Perennials</a>
                <a href="{% url 'products' %}?category=cacti_succulents" class="dropdown-item">Cacti & Succulents</a>
                <a href="{% url 'products' %}?category=shrubs,container_plants,herbaceous_perennials,cacti_succulents"
                    class="dropdown-item">All Categories</a>
            </div>
        </li>

        <li>
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'products' %}?category=new"
                id="specials-link">
                Newcomers
            </a>
        </li>
        <li>
            <a class="logo-font font-weight-bold nav-link text-black" href="">
                About
            </a>
        </li>
        <li>
            <a class="logo-font font-weight-bold nav-link text-black" href="">
                Contact
            </a>
        </li>
    </ul>
</div>