{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Your source for premium flower seeds for your garden. Explore a wide range of seeds for beautiful flowers and create a cozy oasis in your garden">
    <meta name="keywords" content="plant instructions, flower seeds, gardening, gardening supplies, premium seeds, beautiful flowers, outdoor space,
        shrubs, container plants, perennials, plants, acid loving plants">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon.ico' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/a7b2429d3a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Cozy Garden {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid sticky-top bg-off-white">
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-green text-white">
                <h4 class="logo-font my-1 free-delivery">
                    Free delivery on orders over €{{ free_delivery_threshold }}!
                </h4>
            </div>
        </div>
        <div class="row d-none d-lg-flex p-2">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link">
                    <h1 class="logo-font text-success my-0"><strong>Cozy</strong>|Garden</h1>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form action="{% url 'products' %}" class="GET">
                    <div class="input-group w-100">
                        <input type="text" class="form-control border border-success" name="q"
                            placeholder="Search our site" aria-label="Search Box">
                        <div class="input-group-append">
                            <button class="form-control btn btn-success border border-success" type="submit"
                                aria-label="Search Button">
                                <span>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a href="" class="nav-link text-success my-0" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span><i class="fa-regular fa-user fa-lg"></i></span>
                            <span>My Account</span>
                        </a>
                        <div class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Manage Products</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'view_bag' %}"
                            class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link">
                            <div class="navbar-right text-center">
                                <span><i class="fa-solid fa-cart-shopping fa-lg"></i></span>
                                <span>
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light w-100 navbar-media-sizes">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle Navigation Dropdown">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="bg-dark text-white">
        <div class="container-fluid py-4">
            <div class="row text-center">
                <div class="col-md-6 offset-md-3">
                    <div id="mc_embed_shell">
                        <div id="mc_embed_signup">
                            <form
                                action="https://herokuapp.us21.list-manage.com/subscribe/post?u=6d913ffe7365543dbfa9a1198&amp;id=f02c10721c&amp;f_id=003bebe6f0"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                class="validate" target="_blank">
                                <div id="mc_embed_signup_scroll">
                                    <h2 class="text-black">Newsletter</h2>
                                    <div class="indicates-required text-danger"><span class="asterisk">*</span>
                                        indicates required
                                    </div>
                                    <div class="mc-field-group text-black"><label for="mce-EMAIL">Email Address <span
                                                class="asterisk text-danger">*</span></label><input type="email"
                                            name="EMAIL" class="required email" id="mce-EMAIL" required=""
                                            value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display: none;"></div>
                                        <div class="response" id="mce-success-response" style="display: none;"></div>
                                    </div>
                                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                        /* real people should not fill this in and expect good things - do not remove
                                        this
                                        or risk form bot signups */
                                        <input type="text" name="b_6d913ffe7365543dbfa9a1198_f02c10721c" tabindex="-1"
                                            value="">
                                    </div>
                                    <div class="optionalParent">
                                        <div class="clear foot">
                                            <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                                                class="button" value="Subscribe">
                                            <p style="margin: 0px auto;"><a href="http://eepurl.com/iBNhdI"
                                                    title="Mailchimp - email marketing made easy and fun"><span
                                                        style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                                            class="refferal_badge"
                                                            src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                                            alt="Intuit Mailchimp"
                                                            style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <h5>Follow Us</h5>
                    <a class="text-white socials" href="https://www.facebook.com/profile.php?id=61552288920638"
                        target="_blank" aria-label="Link to Facebook Page" rel="noopener">
                        <i class="fa-brands fa-square-facebook fa-lg"></i> Facebook
                    </a>
                </div>
                <div class="col-md-6">
                    <h5>Contact Information</h5>
                    <p>Phone: +46 123 456 789</p>
                    <p>Email: info@cozygarden.com</p>
                    <p>Address: 123 Street, Stockholm, Sweden</p>
                </div>
            </div>
            <div class="row mt-2 text-center">
                <div class="col-md-12">
                    <p>&copy; {% now "Y" %} Cozy Garden. All rights reserved</p>
                </div>
            </div>
            <div class="row mt-2 text-center">
                <div class="col-md-12">
                    <a class="text-white socials"
                        href="https://www.privacypolicygenerator.info/live.php?token=PTSLAZPxyeNpxoLZ4JNFgZoLftXJIYBv"
                        target="_blank">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js">
    </script>
    <script type="text/javascript">
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
    {% endblock %}

</body>

</html>