{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay-white"></div>
<div class="container mb-4 min-vh-100">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font mt-4 mb-4 text-center text-black">Thank you!</h2>
            <p class="text-center text-black">Your message was successfully sent with all your details.</p>
            <p class="text-center text-black">We will get back to you as soon as possible!</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}