{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container min-vh-100">
    <div class="row">
        <div class="col text-center mt-4">
            <h2 class="logo-font text-white">Product Details</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 detail-image-size border-radius max-width-90vw">
            {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
                <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="">
                <img src="{{ MEDIA_URL }}no-image-icon-23483.png" class="img-fluid" alt="{{ product.name }}">
            </a>
            {% endif %}
        </div>
        <div class="col-md-6 bg-white border-radius margin-top-bottom-media-queries max-width-90vw">
            <h3 class="mt-4">{{ product.name }}</h3>
            {% if product.category %}
            <p>
                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                    <strong>Category:</strong> {{ product.category.friendly_name }}
                </a>
            </p>
            {% endif %}
            <p><strong>Color:</strong> {{ product.color }}</p>
            <p><strong>Price:</strong> €{{ product.price }}</p>
            <p><strong>Instructions:</strong> {{ product.instructions }}</p>
            {% if product.rating %}
            <p><strong>Rating:</strong> {{ product.rating }}</p>
            {% else %}
            <p><strong>Rating:</strong> N/A</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}